<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
	<meta charset="UTF-8">
	<title>School Management</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Material Design Lite -->
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <!-- Material Design icon font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- <link rel="stylesheet" href="{% static '/management/css/style.css' %}"> -->
  </head>
  <body>
    <!-- Always shows a header, even in smaller screens. -->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title" >School Management</span>
          <!-- Add spacer, to align navigation to the right -->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only">
            <a class="mdl-navigation__link" href="/management/home/">Home</a>
          
            <a class="mdl-navigation__link" href="/management/add_faculty/">Add Faculty</a>
            <a class="mdl-navigation__link" href="/management/logout/">Logout</a>
            
            
          </nav>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout-title" style="background-color:rgb(67, 79, 149);color:#fff;">{{username |title}}</span>
        <nav class="mdl-navigation">
          <a class="mdl-navigation__link" href="/management/home/">Home</a>
            
            <a class="mdl-navigation__link" href="/management/add_faculty/">Add Faculty</a>
            <a class="mdl-navigation__link" href="/management/login/">Logout</a>
            
        </nav>
      </div>
      <main class="mdl-layout__content">
        <div class="page-content">
        {% block content %}
        <div style="text-align:center"><h1>Welcome to ABC School</h1></div>
        {% endblock %}
        </div>
      </main>
    </div>
  </body>
</html>